# bot token on https://discord.com/developers
TOKEN=

# Mongo URI (usually doesnt need to change)
MONGO_URI=mongodb://localhost:27017/mutex

# OpenAI API Key
OPENAI_KEY=

# Whisper API Key https://www.assemblyai.com/dashboard/api-keys 
WHISPER_KEY=