# bot token on https://discord.com/developers
TOKEN=

# Mongo URI (mongodb://localhost:27017/mutex if outside docker, mongodb://mongo:27017/mutex if using docker compose)
MONGO_URI=mongodb://mongo:27017/mutex

# Whisper API Key https://www.assemblyai.com/dashboard/api-keys 
WHISPER_KEY=